lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

*.buildpath
*.project
*.settings/
*.bak
*.swp
*.backup
Tmp/
Docs/
*~
RemoteSystemsTempFiles/
./.meta*
/OtherServer/
nohup*
.DS_Store
